@import './resets.css';
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");

body {
    font-family: "Raleway", sans-serif;
    background-color: #242B33;
    color: #fff;
    font-size: 18px;
  }

a {
    color: #fff;
    transition: color 0.2s ease-in;
    text-decoration: none;
  }

a:hover{
    color: #D4C17F;
  }


.container {
    margin: 0 auto;
    max-width: 1140px;
}

.header{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    
.nav {
    font-size: 14px;
    }
    
.nav__list{
      display: flex;
      column-gap: 40px;
}

.background{
  background: 
  linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), 
  url("./../img/header_bg.jpg");
  border: none;
  background-size: cover;
}


.sec__showcase{
    min-height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.showcase__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 470px;
  width: 580px;
}

  
.showcase__title{
    position: relative;
    text-align: center;
    font-size: 48px;
    font-family: "Playfair Display", serif;
    color: #D4C17F;
    font-weight: 700;
  }

.showcase__img {
  margin-top: 81px;
  display: grid;
  justify-content: flex-end;
}

.showcase__img img{
  width: 40px;
  height: 40px;
}

.info__map {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.info__map img{
    margin-right: 15px;
    width: 21px;
    height: 21px;
  }

.info__tel{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 100px;
  justify-content: flex-start;
}

.info__tel img{
  margin-right: 15px;
  width: 21px;
  height: 21px;
}

.benefits__row{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 70px;
margin-bottom: 40px;
}

.showcase__contacts{
  display: flex;
  flex-direction: row;
}

.benefits__item{
  text-align: center;
}

.benefits__item-img{
  margin-bottom: 50px;
}

.benefits__item-text{
font-size: 20px;
line-height: 1.35;
font-family: "Roboto", sans-serif;
font-weight: 300;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}

.appartments__wrapper{
  margin: 0 auto;
  max-width: 1100px;
  max-height: 800px;
}

.appartments{
height: 800px;
}

.appartments__cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2 , 1fr);
  gap: 30px;
}

.appartments__title{
  margin-bottom: 88px;
}

.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #fff;
}

.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}

.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}

.card:hover {
  color: #fff;
}

.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  transform: scale(1.15);
  filter: contrast(120%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}

.cta{
  display: grid;
  background: 
  linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%),
   linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), 
   url("./../img/Rectangle.jpg"), #c4c4c4;
   height: 560px;
   align-content: space-evenly;
}


.cta-wrapper{
  display: grid;
  grid-template:  1fr / 1fr 1fr ;
  margin: 0 auto;
  gap: 30px;
  max-width: 1140px;
}

.cta__title{
  display: grid;
  grid-column: 1;
  grid-row: 1;
}
.cta__text{
font-size: 16px;
}

.form__wrapper{
  grid-row: 1/2;
}

.form{
   display: grid;
   grid-template-columns: repeat(2, 255px);
   grid-template-rows: repeat(2, 50px);
   gap: 30px 30px;
  }
  
.form__input{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  justify-content: space-evenly;
  cursor: pointer;
  border: none;
}

.form__input::placeholder{
  color: #BEBEBE;
}

.form__btn {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #D4C17F;
  transition: background-color, hover 0.2s ease-in;
  cursor: pointer;
  border: none;
}

.form__btn:hover {
  background-color: #dfb212;
  pad: 50px 15px;
}

.modal{
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, .3);
  visibility: hidden;
  opacity: 0;
}

.modal__box{
  position: relative;
  max-width: 500px;
  padding: 30px;
  background-color: #fff;
  color: #000;
  margin: 15px 10px;
  box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
  opacity: 0;
  transition: opacity .4s;
}

.modal-content {
  color:#000;
  font-size: 20px;
}

.clos-modal{
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.clos-modal svg path {
  transition: fill .4s;
}

.clos-modal:hover svg path {
  fill: black;
}

.clos-modal:active svg path {
  fill: #9b832e;
}

.modal.opend {
  visibility: visible;
  opacity: 1;
}

.modal.opend .modal__box {
  opacity: 1;
}