@import './resets.css';
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");


 * {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
  }

  body {
    font-family: "Raleway", sans-serif;
    background-color: #242B33;
    color: #fff;
    font-size: 16px;
    padding: 20px;
  }

  a {
    color: #fff;
    transition: color 0.2s ease-in;
    text-decoration: none;
  }

  a:hover{
    color: #D4C17F;
    
  }

  .header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 74px;
    min-height: 840px;
    background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./../img/header_bg.jpg");
  }

  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
  }
  .container--sm {
    max-width: 840px;
  }

  .header__top-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10rem;
  }

  .nav {
  font-size: 14px;
  }

  .nav__list{
    display: flex;
    column-gap: 40px;
  }

  .header__title{
    position: relative;
    padding-bottom: 121px;
    text-align: center;
    font-size: 48px;
    font-family: "Playfair Display", serif;
    color: #D4C17F;
    font-weight: 700;
  }

  .header__title-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .info {
    position: relative;
    font-size: 18px;
  }
  .info--map, .info--tel {
    padding-left: 35px;
  }
  
  .info--map::before, .info--tel::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 21px;
    height: 21px;
    transform: translate(0%, -50%);
    background-repeat: no-repeat;
    background-position: center;
  }
  .info--map::before {
    background-image: url("./../img/placeholder.svg");
  }
  .info--tel::before {
    background-image: url("./../img/phone-call.svg");
  }

 
.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.text-right{
  text-align: right;
}

.visually-hidden {
    height: 1px;
    overflow: hidden;
    width: 1px;
    position: absolute;
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%); 
    white-space: nowrap;
}

.benefits{
  padding: 120px 0;
}

.benefits__row{
  display: flex;
  column-gap: 70px;
}

.benefits__item{
  text-align: center;
}

.benefits__item-img{
  margin-bottom: 53px;
}

.benefits__item-text{
font-size: 20px;
line-height: 1.35;
font-family: "Roboto", sans-serif;
font-weight: 300;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}

.appartments__cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  gap:30px  ;
}

.appartments__title{
  margin-bottom: 88px;
}

.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #fff;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #fff;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  transform: scale(1.2);
  filter: contrast(120%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}

.cta{
  padding: 180px 0;
  background: 
  linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%),
   linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), 
   url("./../img/Rectangle.jpg"), #c4c4c4;
}

.cta__title{
  margin-bottom: 17px;
}

.cta__wrapper{
display: grid;
grid-template-columns: repeat(2, 1fr);
column-gap: 30px;
align-items: center;
}

.cta__text{
line-height: 1.5;
}

.form{
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
   gap: 35px 30px;
  }
  
  .form__input-date{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.3rem;
    transition: all 0.5s ease-in;
    color: #fff;
  }
  .form__input-date:focus{
    background-color: rgba(255, 255, 255, 0.5);
  }
  .form__input-date:hover{
    cursor: pointer;
  }
  
  .form__input-text{
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  transition: all 0.2s ease-in;
  color: #fff;
  padding: 12px;
}
.form__input-text:focus{
  background-color: rgba(255, 255, 255, 0.5);
}
.form__input-text:hover{
  cursor: pointer;
}

.form__input-pas{
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  transition: all 0.2s ease-in;
  color: #fff;
  padding: 12px;
}
.form__input-pas:focus{
  background-color: rgba(255, 255, 255, 0.5);
}
.form__input-pas:hover{
  cursor: pointer;
}
.form__input-pas-confirm{
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  transition: all 0.2s ease-in;
  color: #fff;
  padding: 12px;
}
.form__input-pas-confirm:focus{
  background-color: rgba(255, 255, 255, 0.5);
}
.form__input-pas-confirm:hover{
  cursor: pointer;
}

.form__input-check{
  height: 2rem;
  width: 2rem;
  transition: all 0.2s ease-in;
}
.form__input-color:hover{
  scale: 1.05;
  cursor: pointer;
}

.form__input-color{
  height: 3rem;
  width: 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-in;
}

.form__input-color:hover{
  scale: 1.05;
  border: 1px solid #fff;
  cursor: pointer;
}

.form__input-color:active{
  border: 1px solid #fff;
}

.form__btn {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #D4C17F;
  transition: background-color, hover 0.2s ease-in;
  cursor: pointer;
}
.form__btn:hover {
  background-color: #9b832e;
}

.error{
  border: 1px solid red;
}